<footer class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <h3>Вело Магазин</h3>
                <p>Ми є вело магазином з великим досвідом. Наші фахівці допоможуть вам підібрати
                    потрібний велосипед, зробити його налаштування та ремонт.</p>
            </div>
            <div class="col-12 col-md-4">
                <h3>Контакти</h3>
                <p>Адреса: м.Київ, вул. Хрещатик, 123</p>
                <p>Телефон: +380 44 123 45 67</p>
                <p>Email: info@velo-magazin.com</p>
            </div>
            <div class="col-12 col-md-4">
                <h3>Посилання</h3>
                <ul>
                    <li><a href="main">Головна</a></li>
                    <li><a href="shop">Каталог</a></li>
                    <li><a href="contacts">Контакти</a></li>
                    <li><a href="about">Про нас</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="credits">
        <p>© 2023 Вело Магазин</p>
    </div>
              <div class="col-lg-6 text-lg-right">
                <p class="small text-muted mb-0">Сайт зроблений <a class="text-white reset-anchor"
                                                               href="https://www.youtube.com/vijaythapa"
                                                               target="_blank">Михайлом Зайченко</a></p>
              </div>
            </div>
          </div>
        </div>
</footer>