{% extends 'base.html' %}
{% load static %}
{% block head %}
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock head %}
{% block content %}
    <div class="wrapper">
        <div class="container">
            <h1 itemprop="headline">Как выбрать велосипед</h1>
            <div class="row">
                <div class="col-md-8">
                    <div itemprop="text">
                        <p class="p-light-grey-text">Жизнь современного человека сложно представить без спорта и
                            велосипеда. А последние представлены на просторах магазинов в таком разнообразии,что можно
                            подобрать на любой вкус и кошелек. Однако, для этого важно знать, как выбрать велосипед. В
                            этой статье мы постараемся ответить на этот непростой вопрос.</p>
                        <p class="p-main-header">Чтобы выбрать велосипед вам нужно знать:</p>
                        <ul class="ul-nice">
                            <li>Стиль катания - город или бездорожье.</li>
                            <li>Бюджет - обычно чем больше, тем лучше.</li>
                            <li>Ваш рост и вес - от этого зависит размер рамы велосипеда.</li>
                        </ul>
                        <p class="p-main-header">Вопрос первый. Ваш стиль катания.</p>
                        <p class="p-light-grey-text">Первым и самым важным является среда обитания<br>вашего железного
                            коня, т.е. где будете ездить на нем?</p>
                        <h2>1 Горние велосипеды</h2>
                        <p>Если же вы хотите один байк на все случаи жизни, то ваш путь лежит в самую многочисленную
                            категорию горных велосипедов. Несмотря на название, эти байки хороши не только в горах.
                            Засчет
                            широких покрышек (как правило, от 2”) на этом велосипеде комфортно ездить как по
                            грунтовым дорогам, так и по асфальтированным, благо качество последних у нас не сильно
                            отличается от первых ;) Также широкие покрышки имеют и высокий профиль, который служит
                            дополнительной амортизирующей подвеской.</p>
                        <div class="image-diameter">
                            <p>Среди горных велосипедов водоразделом служит диаметр колес</p>
                            <ul>
                                <li>29"</li>
                                <li>27,5"</li>
                                <li>26"</li>
                            </ul>
                        </div>
                        <div class="container">
                        <img src="https://bikeart.com.ua/wa-data/public/shop/products/22/00/22/images/562/562.650@2x.jpg"
                             class="img-fluid" alt="">
                        </div>
                        <p>Уже уходящий в историю размер 26” представлен крайне слабо и почти полностью перекочевал в
                            разряд подростковых. Поэтому рекомендуем на него обращать внимание, если вы любите раритет и
                            артефакты старины. Следующим размером колес является 27.5”. Рекомендуем эти колеса тем, чей
                            рост не превышает отметки в 175 см. Для всех же остальных (от 175 и выше) – найнеры –
                            велосипеды с колесами 29”.</p>
                        <h2>2 Двухподвесы</h2>
                        <p>Еще одним дифференцирующим признаком горных велосипедов является амортизация: горные байки
                            бывают хардтейлами (только амортизационная вилка) и двухподвесами (кроме вилки есть еще и
                            задний амортизатор).</p>
                        <p>
                        <div class="row">
                            <!-- <div class="cell al-center"><img src="files/2020/07_07/11_48/u_files_store_31_162959.jpg"
                                    alt="Хардтейл" /></div> -->
                            <div class="cell al-center"><img
                                    src="https://images.prom.ua/3527530207_gornyj-velosiped-dvuhpodves.jpg"
                                    alt="Двухподвес"/>
                            </div>
                            </p>
                            <p>Безусловно, двухподвесы удобнее и комфортнее в ходу, а также позволяют проехать там,
                                где хардтейл «скозлит» райдера. Полноподвесная амортизация кроме комфорта
                                обеспечивает еще и отличное сцепление с трассой. Именно благодаря ей двухподвесы
                                чувствуют себя уверенно даже там, где нет дороги, а есть лишь направление. При этом
                                хардтейлы легки в ходу и эффективнее передают энергию педалирования в скорость.</p>
                            <h2>3 Городские и туристические велосипеды</h2>
                            <p>Если же велосипед нужен для повседневных бытовых нужд (поездка на работу, за
                                продуктами и пр.), то стоит выбирать городской велосипед на дорожных покрышках
                                (ширина от 1.1” до 1.75” и диаметром 28”), с багажником и/или корзиной, крыльями и
                                подножкой. Или с возможностью установки всех этих аксессуаров.</p>
                            <p>
                            <div class="topic-info">
                                <img src="https://velo-land.com.ua/image/cache/catalog/DOROZHNIK_2020/28-Dorozhnik-SAPPHIRE-alpiyskiy-goluboy-2020-7835-1980x1360-1725x1284.jpg"
                                     alt="Городской велосипед">
                            </div>
                            </p>
                            <h2>4 Электровелосипеды</h2>
                            <p>Новейшей тенденцией велоиндустрии стали электровелосипеды. Это новый виток эволюции
                                велосипеда, которая позволяет проехать райдеру дальше, а тренировки сделать
                                эффективнее. Ассистирующие электромоторы, которые не крутят вместо вас, но лишь
                                помогают по одной из выбранных программ. Позволяют преодолевать перепады ландшафта
                                без моральных потерь, получая наслаждение и сохраняя пульс в аэробных пределах. Все,
                                что касалось обычных велосипедов, касается и электробайков. С той лишь разницей, что
                                электромотор существенно расширяет возможности райдера, однако и стоят такие
                                велосипеды дороже. Но о цене поговорим позже.</p>
                            <p><img src="https://ebike.in.ua/wp-content/uploads/2021/04/IMG_4325.jpg"
                                    alt="Электровелосипеды"/>
                            </p>
                            <p class="p-warning">Не стоит думать, что электровелосипед – это просто байк с мотором.
                                Конечно, в бюджетном сегменте только такие и представлены, однако все брендовые
                                велосипеды – это технологически совершенные байки, которые способны сделать
                                спортсмена сильнее, а при спешке на работу - успеть, и не вспотеть.</p>
                            <h2>5 Шоссейные велосипеды</h2>
                            <p>Если вы хотите скоростии вам важна постоянная и равномерная кардионагрузка, то здесь
                                лучше шоссера вам ничего не подойдет.</p>
                            <p><img src="https://images.prom.ua/3347772624_shosejnij-velosiped-crosser.jpg"
                                    alt="Шоссейные велосипеды"/>
                            </p>
                            <p class="p-border-yellow"><b>Лайфхак:</b> любой шоссер проигрывает на грунтах горняку,
                                а любой горняк не сравнится с шоссером на асфальте.</p>
                            <h2>6 Кроссовые или гибридные велосипеды</h2>
                            <p>Однако, следует понимать, что шоссейный велосипед не подойдет для езды по грунтовым
                                тропкам. Отсутствие амортизации и узкие покрышки растрясут все желание ездить. Для
                                таких целей есть кроссовые или гибридные велосипеды. Они обладают большей
                                проходимостью, хоть и уступают шоссейникам в скорости.</p>
                            <p>
                                <img src="https://velosvit.net/wp-content/uploads/2019/07/AUTHOR-Profile-II-26-cvet-belo-cherno-sinij-rama-15-1024x768.jpg"
                                     alt="Кроссовые или гибридные велосипеды"/>
                            </p>
                            <h2>7 Велосипеды BMX, для дёрта и триала</h2>
                            <p>Любителям пощекотать нервы следует смотреть в сторону BMX, стрит, дертовых байков.
                                Они собраны на усиленных рамах и комплектующих, на которых просто не захочется ехать
                                прямо.</p>
                            <p>
                                <img src="https://velobikelviv.com/wp-content/uploads/2020/10/FIEND_MY2020_TYPEA__BLK_2000x.jpg"
                                     alt="Велосипеды BMX, для дёрта и триала"/>
                            </p>
                            <p>
                            </p>
                            </p>
                            <p class="p-main-header">Вопрос второй. Размер рамы.</p>
                            <p>Пропорции тела у нас разные, поэтому и носим разные размеры одежды, и по-разному
                                отодвигаем кресло в автомобиле. Велосипед также неразрывно связан с нашим телом, а
                                значит он также должен быть правильного размера. И если вы высоту рамы можно
                                компенсировать подседельным штырем, высунув его сильнее, или, наоборот, спрятав
                                поглубже. То длина рамы – константная величина, которую компенсировать крайне
                                сложно.</p>
                            <p class="aleart"><b>Внимание:</b> при выборе размера всегда ориентируйтесь только
                                на свой рост. При заказе мы сами профессионально скорректируем размер вашего
                                велосипеда для вашего комфорта и безопасности.</p>
                            <br><br>
                            <div class="container">
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                    <tr class="text-center">
                                        <th scope="col">Размер рамы, дюймы</th>
                                        <th scope="col">Ваш рост, см</th>
                                        <th scope="col">Размер рамы, см</th>
                                        <th scope="col">Размер рамы, условные. ед</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>13"</td>
                                        <td class="main">130-145</td>
                                        <td>33</td>
                                        <td>XS (Xsmall)</td>
                                    </tr>
                                    <tr>
                                        <td>14"</td>
                                        <td class="main">135-155</td>
                                        <td>35.6</td>
                                        <td>XS (Xsmall)</td>
                                    </tr>
                                    <tr>
                                        <td>15"</td>
                                        <td class="main">150-160</td>
                                        <td>38.1</td>
                                        <td>S (small)</td>
                                    </tr>
                                    <tr>
                                        <td>16"</td>
                                        <td class="main">150-165</td>
                                        <td>40.6</td>
                                        <td>S (small)</td>
                                    </tr>
                                    <tr>
                                        <td>17"</td>
                                        <td class="main">160-170</td>
                                        <td>43.2</td>
                                        <td>M (medium)</td>
                                    </tr>
                                    <tr>
                                        <td>18"</td>
                                        <td class="main">167-175</td>
                                        <td>45.7</td>
                                        <td>M (medium)</td>
                                    </tr>
                                    <tr>
                                        <td>19"</td>
                                        <td class="main">170-180</td>
                                        <td>48.3</td>
                                        <td>L (Large)</td>
                                    </tr>
                                    <tr>
                                        <td>20"</td>
                                        <td class="main">178-185</td>
                                        <td>50.8</td>
                                        <td>L (Large)</td>
                                    </tr>
                                    <tr>
                                        <td>21"</td>
                                        <td class="main">180-190</td>
                                        <td>53.3</td>
                                        <td>XL (XLarge)</td>
                                    </tr>
                                    <tr>
                                        <td>22"</td>
                                        <td class="main">185-195</td>
                                        <td>55.9</td>
                                        <td>XL (XLarge)</td>
                                    </tr>
                                    <tr>
                                        <td>23"</td>
                                        <td class="main">190-200</td>
                                        <td>58.4</td>
                                        <td>XXL (XLarge)</td>
                                    </tr>
                                    <tr>
                                        <td>24"</td>
                                        <td class="main">195-210</td>
                                        <td>61</td>
                                        <td>XXL (XLarge)</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}